# For building from .pyx
cython>=0.18

# For drawing graphs.
networkx>=1.7
pygraphviz>=1.0

# For reports.
pandas>=0.11
matplotlib>=1.2

# For IPython interaction.
ipython>=1.0

# For ILP module.
pulp>=1.5

# To run the tests.
pyzmq>=2.1.11
nose>1.0

# For NLP examples.
nltk>=2.0

breathe>=1.0
cvxopt
scikit-learn
pystruct>=0.1
