\documentclass{article}
\usepackage{tikz}
\usetikzlibrary{arrows}
\usepackage[graphics,tightpage,active]{preview}
\PreviewEnvironment{tikzpicture}
\begin{document}
\begin{tikzpicture}

${content}

\end{tikzpicture}
\end{document}
